.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  position: relative; 
  z-index: 20;       
  padding: 1rem 2rem; 
  width: 100%;
  color: var(--text-color);
}

.header-date p {
  font-size: 1.1rem;
  font-weight: 500;
}

.header-actions {
  display: flex;
  gap: 0.75rem;
}

.action-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-color: var(--applet-background);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

.action-button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
  box-shadow: 0 2px 4px var(--applet-shadow);
}

.menu-button {
  line-height: 0; 
  padding-bottom: 8px;
}

.add-applet-container,
.settings-menu-container {
  position: relative;
}

.applet-menu,
.settings-menu {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: var(--applet-background);
  border-radius: 14px; 
  box-shadow: 0 5px 15px 2px var(--applet-shadow); 
  border: 1px solid var(--border-color);
  padding: 0.75rem; 
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  z-index: 10;
  width: 180px;
}

.settings-menu {
    width: 150px; 
}


.applet-menu button,
.settings-menu button {
  background-color: transparent;
  border: none;
  padding: 0.75rem; 
  text-align: left;
  width: 100%;
  border-radius: 8px; 
  cursor: pointer;
  color: var(--text-color);
  font-weight: 500; 
  transition: background-color 0.2s ease;
}

.applet-menu button:hover,
.settings-menu button:hover {
  background-color: var(--background-color);
}

.date-input {
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 2px 6px;
  border-bottom: 2px solid #3498db; 
  outline: none;
}