.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
  min-height: 100vh !important;
  background-image: radial-gradient(circle at 1px 1px, var(--dot-color) 1px, transparent 0);
  background-size: 25px 25px;
}

.react-grid-item {
  transition: all 100ms ease;
}

.react-grid-item.react-grid-item-dragging {
  transition: none;
}

.react-grid-item.css-transforms {
  transition-property: transform;
}

.react-grid-layout .react-grid-placeholder {
  background: rgba(52, 152, 219, 0.2) !important;
  border-radius: 18px;
  border: 2px dashed rgba(52, 152, 219, 0.5) !important;
  transition: all 0.2s ease;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: se-resize;
  opacity: 0.5; 
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
  transition: opacity 0.2s ease, transform 0.2s ease;
  background-color: var(--text-color-light);
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path d="M21 7.5V4.5C21 2.01472 23.0147 0 25.5 0V0C27.9853 0 30 2.01472 30 4.5V7.5C30 19.9264 19.9264 30 7.5 30H4.5C2.01472 30 0 27.9853 0 25.5V25.5C0 23.0147 2.01472 21 4.5 21H7.5C14.9558 21 21 14.9558 21 7.5Z"/></svg>');
  mask-size: 16px 16px; 
  mask-repeat: no-repeat;
  mask-position: bottom right;
}

.react-resizable-handle:hover {
  opacity: 1;
  transform: scale(1.1); 
}