.todo-applet-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.todo-list {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 5px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.2rem;
  /* Usando a variável de borda mais clara */
  border-bottom: 1px solid var(--border-color-light); 
  font-size: 0.9rem;
}

.todo-text {
  cursor: pointer;
  flex-grow: 1;
}

.todo-item.completed .todo-text {
  text-decoration: line-through;
  /* Usando a variável de texto mais claro */
  color: var(--text-color-light); 
}

.delete-task-button {
  background: none;
  border: none;
  color: #ff5c5c;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0 0.5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.todo-item:hover .delete-task-button {
  visibility: visible;
  opacity: 1;
}

.add-todo-form {
  display: flex;
  margin-top: 0.5rem;
  /* Usando a variável de borda */
  border-top: 1px solid var(--border-color); 
  padding-top: 0.75rem;
}

.add-todo-input {
  flex-grow: 1;
  border: none;
  /* Usando a variável de borda */
  border-bottom: 1px solid var(--border-color); 
  outline: none;
  background-color: transparent;
  font-size: 0.9rem;
  padding: 2px;
  color: var(--text-color); /* Garante que o texto digitado tenha a cor certa */
}

/* Estiliza o texto do placeholder para o modo escuro */
.add-todo-input::placeholder {
  color: var(--text-color-light);
}

.add-todo-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  line-height: 22px;
  text-align: center;
  margin-left: 0.5rem;
}